
body {
  font-family: sans-serif;
  background-color: #1088ff;
}

.wrapper {
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.container-choices {
    display: flex;
    font-size: large;
}

.letter {
    background-color: rgb(7, 7, 194);
    color: white;
    padding: 1.5em
}

.option-text {
    padding: 1.5em
}