*, *::before, *::after {
  box-sizing: border-box;
  font-family: fantasy;
}

body{
  padding: 0;
  margin: 0 auto
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 140, 252);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px 2px;

}

.btn-grid {
  display: grid; 
}

.btn {
  border-radius: 5px;
  padding: 5px 20px
}